<div class="am-option-filter  {{ jsID }}" data-list="{{ referenceList }}">
    <div class="am-form__group">
        <label class="am-form__label " for="optionFilter">
            {{ label }}
        </label>

        <div class="am-form__input-container">
            <select id="{{ name }}" class="am-form__input" name="{{ name }}">
                <option selected="">{{ all }}</option>
            </select>
            <div class="am-form__select-arrow" aria-hidden="true">
                <i class="o-icon-font o-icon-font--am-arrow-down"></i>
            </div>
        </div>
    </div>
</div>
